#titel {
        background-color: black;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}



.row {
    display: grid;
    place-items: center;
    height: 60vh;
}
